.backphoto {
    background-image: url('/sampleldc/public/logocar.jpg');
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* background: red; */
  }
  /* .bss
  {
    color: red;
    background: red;
  } */